html {
    min-height: 100vh;
    color: white;
    background-color: #111;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'Cantarell', 'Ubuntu', 'Segoe UI', sans-serif;
}

button {
    padding: 6px 9px;
    background-color: #111;
    color: inherit;
    font: inherit;
    transition: 0.1s ease-out;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    outline: 2px solid transparent;
}

button:hover,
button:focus-visible {
    background-color: #171717;
    outline: 2px solid #666;
}

button:active:not(:disabled) {
    translate: 0 3px;
}

button:disabled {
    background-color: #171717;
    color: #777;
    outline: 2px solid transparent;
    cursor: default;
}